$equipment-section-grid-column-gap: 0.25rem !default;
$equipment-section-svg-size: $svg-small-size !default;

.equipment {
	.equipment-section {
		display: grid;
		grid-template-columns: $equipment-section-svg-size 1fr 1fr $equipment-section-svg-size;
		grid-column-gap: $equipment-section-grid-column-gap;
		align-items: end;
	}
}
