$icon-select-icon-padding: 0.15rem !default;
$icon-select-icon-svg-border-radius: 0.125rem !default;
$icon-select-icon-svg-box-shadow: inset 0 0 1rem $grey-dark;

$icon-select-disabled-opacity: 0.5 !default;

.icon-select {
	.icon-select-icon {
		margin: $icon-select-icon-padding;
		.has-svg {
			border-radius: $icon-select-icon-svg-border-radius;
			background-color: $black-bis;
			box-shadow: $icon-select-icon-svg-box-shadow;
		}
		.is-primary {
			fill: $grey !important;
		}
		.is-secondary {
			fill: $white-bis !important;
		}
	}
	&:focus,
	&.is-focused {
		border-color: $input-focus-border-color;
		.box-corner {
			@include svg-color(primary, $input-focus-border-color);
		}
	}
	&[disabled] {
		opacity: $icon-select-disabled-opacity;
	}
}

