$portrait-background-color: $black !default;
$portrait-border: 0.125rem solid $grey-dark !default;
$portrait-box-shadow: inset 0 0 2rem $grey-dark !default;
$portrait-color-hue: $grey-hue !default;
$portrait-color-saturation-faded-more: 8% !default;
$portrait-color-saturation-faded: 22% !default;
$portrait-color-saturation: 40% !default;
$portrait-color-saturation-vibrant: 50% !default;


$portrait-svg-secondary-color: $white-ter !default;
$portrait-svg-tertiary-color: $grey !default;
$portrait-svg-primary-color: $grey-dark !default;

$portrait-inactive-background-color: $grey-darker !default;
$portrait-inactive-cover-primary-color: $grey !default;
$portrait-inactive-cover-secondary-color: $grey-light !default;
$portrait-inactive-opacity: 0.75 !default;

@mixin portrait-multi-color($hue: $portrait-color-hue, $saturation: $portrait-color-saturation) {
	@include svg-color(primary, hsl($hue, $saturation, 90%));
	@include svg-color(tertiary, hsl($hue, $saturation, 48%));
	@include svg-color(secondary, hsl($hue, $saturation, 33%));
}

@mixin portrait-color(
		$modifier,
		$hue: $portrait-color-hue,
		$saturation: $portrait-color-saturation
	) {
	&.is-#{$modifier} {
		background-color: hsl($hue, $saturation, 4%);
		&.has-svg,
		.has-svg {
			@include portrait-multi-color($hue, $saturation);
		}
	}
}

.portrait {
	background-color: $portrait-background-color;
	border: $portrait-border;
	border-radius: 0.125rem;
	box-shadow: $portrait-box-shadow;
	min-width: 3rem;
	min-height: 2.5rem;
	position: relative;

	.portrait-cover {
		display: none;
		z-index: 9;
		@include overlay;
	}
	.portrait-image {
		&.has-svg,
		.has-svg {
			@include portrait-multi-color();
		}
		@include portrait-color(beast, 30);
		@include portrait-color(fane, 185);
		@include portrait-color(ifan, 220, $portrait-color-saturation-faded);
		@include portrait-color(lohse, 340, $portrait-color-saturation-faded);
		@include portrait-color(red-prince, 350, $portrait-color-saturation-vibrant);
		@include portrait-color(sebille, 75, $portrait-color-saturation-faded);
		@include portrait-color(elf, 75, $portrait-color-saturation-faded);
		@include portrait-color(undead-elf, 75, $portrait-color-saturation-faded-more);
		@include portrait-color(dwarf, 30, $portrait-color-saturation-faded);
		@include portrait-color(undead-dwarf, 30, $portrait-color-saturation-faded-more);
		@include portrait-color(human, 200, $portrait-color-saturation-faded);
		@include portrait-color(undead-human, 200, $portrait-color-saturation-faded-more);
		@include portrait-color(lizard, 230, $portrait-color-saturation-faded);
		@include portrait-color(undead-lizard, 230, $portrait-color-saturation-faded-more);
	}

	&.is-inactive {
		filter: grayscale(100%) brightness(50%) sepia(50%);
		&::before {
			content: '';
			@include overlay;
			background-color: $portrait-inactive-background-color;
			opacity: $portrait-inactive-opacity;
			z-index: 8;
		}
		.portrait-cover {
			@include svg-color(primary, $portrait-inactive-cover-primary-color);
			@include svg-color(secondary, $portrait-inactive-cover-secondary-color);
			display: initial;
		}
	}
}
