<template>
	<section class="overview">
		<div class="is-grid has-one-column has-row-gap">
			<button v-if="canToggleActive" class="button is-icon has-height-100" @click="toggleActive()">
				<the-portrait />
			</button>
			<the-portrait v-else />
			<label
				v-t="'status.notInParty'"
				:class="{ 'is-invisible': selectedCharacter.active }"
				class="is-block has-text-centered has-text-info is-size-7" />
		</div>

		<section>
			<dp-field label-key="title.origin" expanded>
				<dp-select
					:value="selectedCharacter.origin"
					:options="origins"
					:cover-label="$t(origin.resourceKey)"
					class="has-min-width"
					resource-key-field="resourceKey"
					@input="setOrigin" />
			</dp-field>

			<dp-field label-key="title.race" expanded>
				<dp-select
					:value="selectedCharacter.origin"
					:options="customOrigins"
					:cover-label="$t(origin.raceResourceKey)"
					:read-only="origin.unique"
					class="has-min-width"
					resource-key-field="raceResourceKey"
					@input="setOrigin" />
			</dp-field>

			<dp-field label-key="title.gender" expanded>
				<dp-select
					:value="origin.gender"
					:options="genders"
					:cover-label="$t(genderResourceKey)"
					:read-only="origin.unique"
					class="has-min-width"
					@input="setGender" />
			</dp-field>

			<dp-field label-key="title.level">
				<build-stat context="attribute" stat="level" />
			</dp-field>
		</section>
	</section>
</template>

<script>
import { allPass, either, filter, find, propEq } from 'ramda';
import { mapGetters, mapActions } from 'vuex';
import { toOriginDetails, CUSTOM_ORIGINS, G_FEMALE, G_MALE } from 'src/store';
import { BuildStat } from '../build-stats';
import ThePortrait from './the-portrait';

const genders = [
	{ name: G_FEMALE, resourceKey: 'gender.female' },
	{ name: G_MALE, resourceKey: 'gender.male' },
];

export default {
	components: { BuildStat, ThePortrait },
	data: () => ({ genders }),
	computed: {
		...mapGetters(['selectedCharacter', 'selectableOrigins', 'canDecrease', 'canIncrease', 'canToggleActive']),
		customOrigins() {
			return this.selectableOrigins
					.filter(propEq('unique', false))
					.filter(propEq('gender', this.origin.gender));
		},
		genderResourceKey() { return `gender.${this.origin.gender}`; },
		origin() { return toOriginDetails(this.selectedCharacter.origin); },
		origins() {
			const isRelevant = either(
					propEq('unique', true),
					propsMatch(this.origin));
			return filter(isRelevant, this.selectableOrigins);
		},
	},
	methods: {
		...mapActions(['setOrigin', 'toggleActive']),
		setGender(gender) {
			const { name } = find(propsMatch({ ...this.origin, gender }), CUSTOM_ORIGINS);
			this.setOrigin(name);
		},
	},
};

function propsMatch({ gender, race, undead }) {
	return allPass([
		propEq('gender', gender),
		propEq('race', race),
		propEq('undead', undead),
	]);
}
</script>

<style scoped>
.overview {
	align-items: start;
	display: grid;
	grid-column-gap: 0.5rem;
	grid-template-columns: 1fr 2fr;
}
.has-min-width {
	min-width: 8em;
}
</style>
