<template>
	<dp-box class="is-paddingless is-marginless is-small is-light has-height-fit-content">
		<div :class="{ 'is-inactive': !selectedCharacter.active }" class="portrait">
			<div class="portrait-cover">
				<dp-svg svg="statusResting" />
			</div>
			<dp-svg
				:svg="portrait"
				:class="originModifier"
				class="portrait-image"
				placeholder-viewbox="0 0 20 25"
				block />
		</div>
	</dp-box>
</template>

<script>
import kebabCase from 'kebab-case';
import { mapGetters } from 'vuex';
import { camelConcat } from 'src/utils';
import { toOriginDetails } from 'src/store';

export default {
	computed: {
		...mapGetters(['selectedCharacter']),
		portrait() { return camelConcat('origin', this.origin.name); },
		origin() { return toOriginDetails(this.selectedCharacter.origin); },
		originModifier() { return toModifier(this.origin); },
	},
};

function toModifier({ name }) {
	return `is-${kebabCase(name)}`
			.replace('custom-', '')
			.replace('-female', '')
			.replace('-male', '');
}
</script>
