<template>
	<div class="is-flex has-justified-content-center">
		<button :class="{ 'is-shifted-down': !value }" class="button is-icon is-shadowless has-fixed-height" @click="toggle">
			<dp-svg :class="{ 'is-flipped-vertical': value }" class="button-icon" svg="actionExpand" />
		</button>
	</div>
</template>

<script>
export default {
	props: {
		value: { type: Boolean, default: false },
	},
	methods: {
		toggle() {
			this.$emit('input', !this.value);
		},
	},
};
</script>

<style scoped>
.is-shifted-down {
	margin-bottom: -0.75rem;
}
.has-fixed-height {
	height: 2rem;
}
</style>

