<template>
	<ul v-if="items.length || specialKey">
		<li v-if="specialKey" v-t="specialKey" :class="itemClass" />
		<li v-for="item in items" :key="item" :class="itemClass">
			{{ item }}
		</li>
	</ul>
</template>

<script>
import { toTalentDetails } from 'src/store';

export default {
	props: {
		name: { type: String, required: true },
		itemClass: { type: String, default: 'has-text-grey-lighter' },
	},
	computed: {
		items() {
			const resourceKey = `talent.${this.name}Details`;
			return this.$te(resourceKey) ? this.$t(resourceKey).split('\n') : [];
		},
		specialKey() {
			const { autoAdd, free } = toTalentDetails(this.name);
			if (autoAdd) { return 'talentType.racial'; }
			if (free) { return 'talentType.story'; }
			return null;
		},
	},
};
</script>

