<template>
	<dp-box v-on-clickaway="collapse">
		<slot name="header" />
		<dp-detail-field
			v-for="talent in selectedTalents"
			:key="talent"
			:label-key="talent"
			icon="actionExamine"
			context="talent">
			<button
				v-if="canRemoveTalent(talent)"
				:aria-label="$t('action.talentRemove', [$t(`talent.${talent}`)])"
				class="delete is-small is-pulled-right"
				@keypress.enter.stop="removeTalent(talent)"
				@click.stop="removeTalent(talent)" />
			<talent-details slot="description" :name="talent" />
		</dp-detail-field>
		<expand-button v-model="active" />
		<section v-if="active">
			<dp-detail-field
				v-for="talent in remainingTalents"
				:key="talent"
				:label-key="talent"
				icon="actionExamine"
				context="talent">
				<button
					:class="{ 'is-invisible': !canAddTalent(talent) }"
					:aria-label="$t('action.talentAdd', [$t(`talent.${talent}`)])"
					class="button is-tiny is-dark"
					@keypress.enter.stop=""
					@click.stop="addTalent(talent)">
					+
				</button>
				<talent-details slot="description" :name="talent" />
			</dp-detail-field>
			<dp-detail-field
				v-for="talent in unselectableTalents"
				:key="talent"
				:label-key="talent"
				label-class="has-text-danger"
				icon="actionExamine"
				context="talent">
				<talent-details slot="description" :name="talent" item-class="has-text-danger" />
			</dp-detail-field>
		</section>
	</dp-box>
</template>

<script>
import { ascend, descend, sortWith } from 'ramda';
import { mapGetters, mapActions } from 'vuex';
import { toTalentProp } from 'src/store';
import ExpandButton from './expand-button';
import TalentDetails from './talent-details';

export default {
	components: { ExpandButton, TalentDetails },
	data: () => ({ active: false }),
	computed: {
		...mapGetters(['selectedCharacter', 'availableTalents', 'unavailableTalents', 'canAddTalent', 'canRemoveTalent']),
		selectedTalents() { return this.sortSelected(this.selectedCharacter.talents); },
		remainingTalents() { return this.sortSelectable(this.availableTalents); },
		unselectableTalents() { return this.sortSelectable(this.unavailableTalents); },
	},
	methods: {
		...mapActions(['addTalent', 'removeTalent']),
		collapse() { this.active = false; },
		toggle() { this.active = !this.active; },
		sort({ splitFreeTalents }, talents) {
			const racialFirst = descend(toTalentProp('autoAdd'));
			const freeLast = ascend(toTalentProp('free'));
			const alphabetically = ascend(talent => this.$t(toTalentProp('resourceKey', talent)));
			return splitFreeTalents ?
				sortWith([racialFirst, freeLast, alphabetically], talents):
				sortWith([racialFirst, alphabetically], talents);
		},
		sortSelected(talents) { return this.sort({ splitFreeTalents: false }, talents); },
		sortSelectable(talents) { return this.sort({ splitFreeTalents: true }, talents); },
	},
};
</script>

<style scoped>
.is-shifted-down {
	margin-bottom: -0.75rem;
}
.has-fixed-height {
	height: 2rem;
}
</style>

