<template>
	<div v-if="value" class="is-inline-block">
		<dp-svg
			v-for="n in value"
			:key="n"
			:svg="type.svg"
			:class="type.color"
			class="icon is-tiny" />
	</div>
</template>

<script>
export default {
	props: {
		value: { type: Number, default: 2 },
		action: { type: Boolean, default: false },
		source: { type: Boolean, default: false },
	},
	computed: {
		type() {
			if (this.action) { return { color: 'is-action', svg: 'derivedStatApStart' }; }
			if (this.source) { return { color: 'is-source', svg: 'derivedStatSp' }; }
			return {};
		},
	},
};
</script>
