<template>
	<div class="icon is-medium is-neutral is-relative">
		<dp-svg svg="skillCooldown" />
		<label class="is-overlay is-centered">{{ value || '-' }}</label>
	</div>
</template>

<script>
export default {
	props: {
		value: { type: Number, default: 0 },
	},
};
</script>
