<template>
	<section class="is-grid has-auto-columns has-gap">
		<slot name="before" />
		<template v-for="skill in sortedSkills">
			<skill-drowdown
				v-for="i in skill.memoryCost"
				:key="`${skill.name}-${i}`"
				:skill="skill.name"
				:locked="skillbarLocked"
				:placeholder="i > 1"
				v-bind="$attrs"
				@click="$emit('click', skill)">
				<label v-if="skillbarLocked" v-t="'skillTitle.unlockToEdit'" class="has-text-info is-italic" />
			</skill-drowdown>
		</template>
		<slot />
	</section>
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import { sortSkills, toSkillDetails } from 'src/store';
import SkillDrowdown from './skill-dropdown';

export default {
	components: { SkillDrowdown },
	props: {
		skills: { type: Array, default: null },
		skillNames: { type: Array, default: () => [] },
	},
	computed: {
		...mapState(['skillbarLocked']),
		...mapGetters(['canHaveSkill', 'hasSkill']),
		fallbackSkills() { return this.skillNames.map(toSkillDetails); },
		sortedSkills() { return sortSkills(this.skills || this.fallbackSkills); },
	},
};
</script>
