<template>
	<dp-dropdown
		:trigger-class="`button is-square is-icon has-background-dark ${classIsActive} ${calssIsType} ${classIsPassive} ${classHasPointer}`"
		v-bind="$attrs"
		v-on="activeListeners">
		<dp-svg
			slot="trigger"
			:svg="svg"
			:class="{ 'is-placeholder': placeholder }"
			class="button-icon" />

		<h3 class="is-size-6 is-clearfix">
			<span>{{ caption }}</span>
			<div class="is-pulled-right">
				<point-cost :value="skillDetails.spCost" source />
				<point-cost :value="skillDetails.apCost" action />
			</div>
		</h3>
		<!-- eslint-disable-next-line vue/no-v-html -->
		<p class="has-text-info" v-html="descriptionHtml" />
		<label v-for="detail in details" :key="detail" class="has-text-primary">{{ detail }}</label>
		<label v-for="resist in resists" :key="resist.caption" :class="resist.typeClass">{{ resist.caption }}</label>
		<div v-if="skillDetails.range">
			<div>{{ range }}</div>
			<div v-for="bonus in rangeBonuses" :key="bonus" class="has-text-primary">
				{{ bonus }}
			</div>
		</div>
		<label v-if="skillDetails.radius">{{ radius }}</label>
		<label v-if="skillDetails.duration">{{ duration }}</label>
		<label
			v-for="requirement in requirements"
			:key="requirement"
			:class="{ 'has-text-danger': !canHaveSkill(skill) }">
			{{ requirement }}
		</label>
		<slot />

		<label :class="classHasTextAbility" class="is-clearfix is-justified-center">
			<dp-svg :class="classIsCategory" :svg="categorySvg" class="icon is-tiny is-aligned-bottom" />
			<span>{{ categoryCaption }}</span>
		</label>
		<skill-cooldown :value="skillDetails.cooldown" class="is-abs-bottom is-abs-right" />
	</dp-dropdown>
</template>

<script>
import { defaultTo, equals, ifElse, map, path, pipe, prop, sum } from 'ramda';
import { mapGetters } from 'vuex';
import { camelConcat } from 'src/utils';
import { toSkillDetails, toEquipmentProp, AT_MAGICAL, AT_PHYSICAL, DS_EFFECT_DURATION_BONUSES, DS_RANGE_BONUS } from 'src/store';
import PointCost from './point-cost';
import SkillCooldown from './skill-cooldown';

const RESIST_CLASSES = {
	[AT_MAGICAL]: 'has-text-magical',
	[AT_PHYSICAL]: 'has-text-physical',
};

export default {
	components: { PointCost, SkillCooldown },
	props: {
		skill: { type: String, required: true },
		activateOwned: { type: Boolean, default: false },
		locked: { type: Boolean, default: false },
		placeholder: { type: Boolean, default: false },
	},
	computed: {
		...mapGetters(['selectedCharacter', 'canAddSkill', 'canHaveSkill', 'hasSkill']),
		activeListeners() { return this.locked ? {} : this.$listeners; },
		skillDetails() { return toSkillDetails(this.skill); },
		ability() { return this.skillDetails.ability; },
		category() { return this.skillDetails.category; },
		categoryCaption() {
			return this.ability ?
				this.$t(`combatAbility.${this.ability}`) :
				this.$t(`skillTitle.${camelConcat('type', this.category)}`);
		},
		type() { return this.skillDetails.subtype || this.category; },
		classIsCategory() { return `is-${this.category}`; },
		classIsActive() { return this.activateOwned && this.hasSkill(this.skill) ? 'is-active' : ''; },
		classIsPassive() { return this.skillDetails.availableFor(this.selectedCharacter) ? '' : 'is-passive'; },
		classHasPointer() { return this.locked ? 'has-cursor-default' : ''; },
		calssIsType() { return `is-${this.type}`; },
		classHasTextAbility() { return `has-text-${this.skillColor || this.category}`; },
		caption() { return this.$t(`skill.${this.category}.${this.skill}`); },
		descriptionHtml() {
			const { total } = calcRange(this);
			const text = this.$t(`skill.${this.category}.${this.skill}DescriptionMd`, { range: total });
			return text.replace(/\*([^*]+)\*/g, `<span class="has-text-${this.type}">$1</span>`);
		},
		svg() { return camelConcat(camelConcat('skill', this.category), this.skill); },
		categorySvg() {
			return this.ability ?
				camelConcat('combatAbility', this.ability) :
				camelConcat('skillType', this.category);
		},
		details() {
			const resourceKey = `skill.${this.category}.${this.skill}Details`;
			return this.$te(resourceKey) ? this.$t(resourceKey, this.detailContext).split('\n') : [];
		},
		detailContext() {
			const { name, duration } = this.skillDetails.effect;
			const bonus = this.selectedCharacter[DS_EFFECT_DURATION_BONUSES][name] || 0;
			const attribute = toEquipmentProp('attribute', this.selectedCharacter.mainHand);
			return {
				attribute: attribute ? this.$t(`attribute.${attribute}`) : null,
				[name]: duration + bonus,
			};
		},
		resists() {
			const resistedBy = this.skillDetails.resistedBy || [];
			const resists = resistedBy.map ? resistedBy : [resistedBy];
			const captionOf = resist => {
				const resistTypeKey = camelConcat('skillTitle.resistType', resist);
				return this.$t('skillTitle.resistedBy', [this.$t(resistTypeKey)]);
			};
			return resists.map(resist => ({
				caption: captionOf(resist),
				typeClass: RESIST_CLASSES[resist],
			}));
		},
		requirements() {
			const { requires } = this.skillDetails;
			const toAttributeRequirement = ability => {
				const abilityCaption = this.$t(`combatAbility.${ability}`);
				return this.$t('skillTitle.requires', [abilityCaption, requires[ability]]);
			};
			const toEquipmentRequirement = equipment => {
				const equipmentCaption = this.$t(`equipment.${requires[equipment]}`);
				return this.$t('skillTitle.requires', [equipmentCaption]);
			};
			const toRequirement = ifElse(equals('equipment'), toEquipmentRequirement, toAttributeRequirement);
			return Object.keys(requires).map(toRequirement);
		},
		duration() { return this.$t('skillTitle.duration', [this.skillDetails.duration]); },
		radius() { return this.$t('skillTitle.radius', [this.skillDetails.radius]); },
		range() { return this.$t('skillTitle.range', [this.skillDetails.range]); },
		rangeTotal() {
			const { range } = this.skillDetails;
			return range ? range + 1 : undefined;
		},
		rangeBonuses() {
			if (this.skillDetails.rangeLocked) { return []; }
			const translateBonus = ({ resourceKey, value }) => this.$t('skillTitle.rangeBonus', [value, this.$t(resourceKey)]);
			return pipe(calcRange, prop('bonuses'), map(translateBonus))(this);
		},
	},
};

function calcRange({ selectedCharacter, skillDetails: { range } }) {
	const bonuses = pipe(
			path(['bonuses', DS_RANGE_BONUS]),
			defaultTo([]),
	)(selectedCharacter);
	const total = range + sum(bonuses.map(prop('value')));
	return { range, bonuses, total };
}
</script>

<style scoped>
.is-placeholder {
	opacity: 0.33;
}
</style>
