<template>
	<section class="is-grid has-one-column has-row-gap-medium">
		<h2 class="title is-5 is-marginless">
			I.
		</h2>
		<skill-drowdowns :skills="singleSkills" activate-owned @click="toggle" />
		<h2 v-if="doubleSkills.length" class="title is-5 is-marginless">
			II.
		</h2>
		<skill-drowdowns :skills="doubleSkills" activate-owned @click="toggle" />
		<h2 v-if="tripleSkills.length" class="title is-5 is-marginless">
			III.
		</h2>
		<skill-drowdowns :skills="tripleSkills" activate-owned @click="toggle" />
	</section>
</template>

<script>
import { filter, propEq, T } from 'ramda';
import { mapGetters, mapActions } from 'vuex';
import { ALL_SKILLS } from 'src/store';
import SkillDrowdowns from './skill-dropdowns';

export default {
	components: { SkillDrowdowns },
	props: {
		category: { type: String, default: null },
	},
	computed: {
		...mapGetters(['canHaveSkill', 'hasSkill']),
		singleSkills() { return this.filterMemoryCost(1); },
		doubleSkills() { return this.filterMemoryCost(2); },
		tripleSkills() { return this.filterMemoryCost(3); },
		skillFilter() { return this.category ? propEq('category', this.category) : T; },
		skills() { return filter(this.skillFilter, ALL_SKILLS); },
	},
	methods: {
		...mapActions(['addSkill', 'removeSkill']),
		filterMemoryCost(value) { return this.skills.filter(propEq('memoryCost', value)); },
		toggle({ name }) { this.hasSkill(name) ? this.removeSkill(name) : this.addSkill(name); },
	},
};
</script>
