<template>
	<dp-box class="is-grid has-one-column has-row-gap-medium">
		<dp-link
			slot="outer-corner"
			:aria-label="$t('action.skillbookClose')"
			route-name="character"
			class="is-link is-rounded is-icon has-background-dark"
			button>
			<dp-svg svg="actionGoBack" />
		</dp-link>
		<h1 v-t="'skillTitle.selectSkills'" class="title is-5" />
		<h2 v-t="'skillTitle.skillbar'" class="title is-6 is-marginless" />
		<the-skillbar />
		<h2 v-t="'skillTitle.skillbook'" class="title is-6 is-marginless" />
		<section class="is-grid has-gap has-auto-columns">
			<dp-link
				v-for="categoryName in categories"
				:key="categoryName"
				:class="`is-${categoryName}`"
				:params="{ category: categoryName }"
				class="button is-square is-icon has-background-dark"
				button>
				<dp-svg :svg="iconOf(categoryName)" />
			</dp-link>
		</section>
		<skillbook-page v-if="category" :category="category" />
	</dp-box>
</template>

<script>
import { CS_AEROTHEURGE, SKILL_SCHOOLS, ST_SOURCE, ST_STORY } from 'src/store';
import { camelConcat } from 'src/utils';
import SkillbookPage from './skillbook-page';
import TheSkillbar from './the-skillbar';

const SPECIAL_CATEGORIES = {
	[ST_SOURCE]: 'skillTypeSource',
	[ST_STORY]: 'skillTypeStory',
};

export default {
	components: { SkillbookPage, TheSkillbar },
	props: {
		category: { type: String, default: CS_AEROTHEURGE },
	},
	data: () => ({ categories: SKILL_SCHOOLS }),
	methods: {
		iconOf(category) {
			return SPECIAL_CATEGORIES[category] || camelConcat('combatAbility', category);
		},
		showPageOf(category) {
			this.$router.push({ params: { category } });
		},
	},
};
</script>
