<template>
	<section class="is-grid has-auto-columns has-gap">
		<dp-lock v-if="!overview" :value="skillbarLocked" @input="setSkillbarLock" />
		<template v-for="skill in skills">
			<skill-drowdown
				v-for="i in skill.memoryCost || 1"
				:key="`${skill.name}-${i}`"
				:skill="skill.name"
				:locked="overview || skillbarLocked"
				:placeholder="i > 1"
				v-bind="$attrs"
				@click="forget(skill)">
				<label v-if="!overview && skillbarLocked" v-t="'skillTitle.unlockToEdit'" class="has-text-info is-italic" />
			</skill-drowdown>
		</template>
		<div v-for="n in memorySlotsRemaining" :key="n" class="button is-square is-passive is-pointerless has-cursor-default has-background-dark" />
		<button
			v-if="!overview && skillsOverLimit.length"
			:class="{ 'is-active': overflowActive }"
			class="button is-square is-info has-background-dark"
			@click="overflowActive = !overflowActive">
			<span class="has-text-info">+{{ skillsOverLimit.length }}</span>
		</button>
		<template v-if="overflowActive">
			<template v-for="skill in skillsOverLimit">
				<skill-drowdown
					v-for="i in skill.memoryCost || 1"
					:key="`${skill.name}-${i}`"
					:skill="skill.name"
					:locked="overview || skillbarLocked"
					:placeholder="i > 1"
					v-bind="$attrs"
					@click="forget(skill)">
					<label v-t="'skillTitle.unableToMemorize'" class="has-text-danger" />
					<label v-if="skillbarLocked" v-t="'skillTitle.unlockToEdit'" class="has-text-info is-italic" />
				</skill-drowdown>
			</template>
		</template>
	</section>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex';
import { DS_MEMORY_SLOT, sortSkills, toSkillDetails } from 'src/store';
import SkillDrowdown from './skill-dropdown';

export default {
	components: { SkillDrowdown },
	props: {
		overview: { type: Boolean, default: false },
	},
	data: () => ({ overflowActive: false }),
	computed: {
		...mapState(['skillbarLocked']),
		...mapGetters(['selectedCharacter', 'memorySlotsUsed']),
		skills() { return sortSkills(this.selectedCharacter.skills.map(toSkillDetails)); },
		skillsOverLimit() { return sortSkills(this.selectedCharacter.skillsOverLimit.map(toSkillDetails)); },
		memorySlotsRemaining() {
			const remaining = this.selectedCharacter[DS_MEMORY_SLOT] - this.memorySlotsUsed;
			return Math.max(remaining, 0);
		},
		skillbookOpen() { return this.$route.name === 'skillbook-page'; },
	},
	methods: {
		...mapActions(['removeSkill', 'setSkillbarLock']),
		forget({ name, memoryCost }) {
			if (!memoryCost) { return; }
			this.removeSkill(name);
		},
	},
};
</script>
