<template>
	<span>{{ formattedValue }}</span>
</template>

<script>
import { pipe, map } from 'ramda';
import { mapGetters } from 'vuex';
import { DS_DAMAGE_INTELLIGENCE, DS_DAMAGE_PHYSICAL } from 'src/store';

export default {
	props: {
		abilityBonus: { type: String, default: DS_DAMAGE_INTELLIGENCE },
		elementalBonuses: { type: Array, default: () => [DS_DAMAGE_PHYSICAL] },
	},
	computed: {
		...mapGetters({ character: 'selectedCharacter', getDamageBonus: 'getDamageBonus' }),
		formattedValue() {
			return pipe(
					map(damageBonusOf(this)),
					formatAsRange,
			)(this.elementalBonuses);
		},
	},
};

function damageBonusOf({ abilityBonus, getDamageBonus }) {
	return elementalBonus => getDamageBonus({ abilityBonus, elementalBonus });
}

function formatAsRange(values) {
	const asPercent = value => `${value}%`;
	const { min, max } = minMaxOf(values);
	return min === max ? asPercent(max) : `${asPercent(min)} - ${asPercent(max)}`;
}

function minMaxOf(array) {
	const minMax = ({ min, max }, value) => ({
		min: Math.min(min, value),
		max: Math.max(max, value),
	});
	return array.reduce(minMax, { min: Infinity, max: -Infinity });
}
</script>
