<template>
	<section>
		<examinable-stat
			v-if="isNonZero(abilityBonus)"
			:stat="abilityBonus"
			label-key="derivedStat.damageBonusGeneral"
			bonus
			percent
			as-detail />
		<examinable-stat
			v-for="bonus in effectiveElementalBonuses"
			:key="bonus"
			:label-key="elementalKeyOf(bonus)"
			:stat="bonus"
			bonus
			percent
			as-detail />
		<p v-t="'derivedStat.damageBonusExplanation'" />
	</section>
</template>

<script>
import { mapGetters } from 'vuex';
import { DS_DAMAGE_INTELLIGENCE, DS_DAMAGE_PHYSICAL } from 'src/store';
import { ExaminableStat } from '../build-stats';

export default {
	components: { ExaminableStat },
	props: {
		abilityBonus: { type: String, default: DS_DAMAGE_INTELLIGENCE },
		elementalBonuses: { type: Array, default: () => [DS_DAMAGE_PHYSICAL] },
	},
	computed: {
		...mapGetters({ character: 'selectedCharacter', getDamageBonus: 'getDamageBonus' }),
		effectiveElementalBonuses() {
			return this.elementalBonuses.filter(this.isNonZero);
		},
	},
	methods: {
		isNonZero(stat) { return this.character[stat] !== 0; },
		elementalKeyOf(type) {
			const preferredKey = `derivedStat.${type}`;
			return this.$te(preferredKey) ? preferredKey : 'derivedStat.damageBonusElemental';
		},
	},
};
</script>
