<template>
	<div class="is-grid has-one-column has-row-gap-large">
		<section>
			<examinable-stat
				v-if="isEquippedFor('strength')"
				context="derivedStat"
				icon="attributeStrength"
				stat="damageStrength">
				<damage-value ability-bonus="damageStrength" />
				<damage-description slot="description" ability-bonus="damageStrength" />
			</examinable-stat>
			<examinable-stat
				v-if="isEquippedFor('finesse')"
				context="derivedStat"
				icon="attributeFinesse"
				stat="damageFinesse">
				<damage-value ability-bonus="damageFinesse" />
				<damage-description slot="description" ability-bonus="damageFinesse" />
			</examinable-stat>
			<examinable-stat
				v-if="isEquippedFor('intelligence')"
				context="derivedStat"
				icon="attributeIntelligence"
				stat="damageIntelligence"
				percent
				bonus>
				<damage-value :elemental-bonuses="['damageAir', 'damageEarth', 'damageFire', 'damageWater']" />
				<damage-description slot="description" :elemental-bonuses="['damageAir', 'damageEarth', 'damageFire', 'damageWater']" />
			</examinable-stat>
			<examinable-stat
				:stats="['critMultiplier', 'critChance']"
				icon="derivedStatCritMultiplier"
				label-key="critGeneral"
				value-key="critValues"
				context="derivedStat"
				percent>
				<examinable-stat
					slot="description"
					context="derivedStat"
					stat="critChance"
					percent
					as-detail />
				<examinable-stat
					slot="description"
					context="derivedStat"
					stat="critMultiplier"
					percent
					as-detail />
			</examinable-stat>
			<examinable-stat context="derivedStat" stat="accuracy" percent />
			<examinable-stat context="derivedStat" stat="dodging" percent />
			<examinable-stat context="derivedStat" stat="movement" />
			<examinable-stat context="derivedStat" stat="initiative" />
		</section>

		<section>
			<examinable-stat
				context="derivedStat"
				stat="resistFire"
				button-class="is-fire"
				percent />
			<examinable-stat
				context="derivedStat"
				stat="resistWater"
				button-class="is-water"
				percent />
			<examinable-stat
				context="derivedStat"
				stat="resistEarth"
				button-class="is-earth"
				percent />
			<examinable-stat
				context="derivedStat"
				stat="resistAir"
				button-class="is-air"
				percent />
			<examinable-stat
				context="derivedStat"
				stat="resistPoison"
				button-class="is-poison"
				percent />
		</section>

		<section>
			<examinable-stat context="derivedStat" stat="vitality" button-class="is-vitality">
				<examinable-stat
					slot="description"
					context="derivedStat"
					stat="vitality"
					as-detail />
				<examinable-stat
					slot="description"
					context="derivedStat"
					stat="vitalityMultiplier"
					bonus
					percent
					as-detail />
			</examinable-stat>

			<examinable-stat
				label-key="apGeneral"
				context="derivedStat"
				stat="apStart"
				icon="apStart"
				button-class="is-action">
				<examinable-stat
					slot="description"
					context="derivedStat"
					stat="apStart"
					as-detail />
				<examinable-stat
					slot="description"
					context="derivedStat"
					stat="apRegen"
					as-detail />
				<examinable-stat
					slot="description"
					context="derivedStat"
					stat="apMax"
					as-detail />
			</examinable-stat>
		</section>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';
import { toEquipmentProp } from 'src/store';
import { ExaminableStat } from '../build-stats';
import DamageDescription from './damage-description';
import DamageValue from './damage-value';

export default {
	components: { DamageDescription, DamageValue, ExaminableStat },
	computed: {
		...mapGetters({ character: 'selectedCharacter' }),
		equippedDamageTypes() { return damageTypesof(this.character); },
	},
	methods: {
		isEquippedFor(attribute) {
			return this.equippedDamageTypes.includes(attribute);
		},
	},
};

function damageTypesof({ mainHand, offHand }) {
	const attributeOf = toEquipmentProp('attribute');
	return [attributeOf(mainHand), attributeOf(offHand)];
}
</script>
