// Fonts
$family-serif: Lora, "Times New Roman", Times, serif !default;
$family-primary: $family-serif;

// Color scheme
$grey-hue: 25;
$grey-saturation: 25%;

$black: hsl($grey-hue, $grey-saturation, 4%);
$black-bis: hsl($grey-hue, $grey-saturation, 7%);
$black-ter: hsl($grey-hue, $grey-saturation, 14%);
$grey-darker: hsl($grey-hue, $grey-saturation, 21%);
$grey-dark: hsl($grey-hue, $grey-saturation, 29%);
$grey: hsl($grey-hue, $grey-saturation, 48%);
$grey-light: hsl($grey-hue, $grey-saturation, 71%);
$grey-lighter: hsl($grey-hue, $grey-saturation, 86%);
$white-ter: hsl($grey-hue, $grey-saturation, 96%);
$white-bis: hsl($grey-hue, $grey-saturation, 98%);

$turquoise: hsl(180,100%, 40%);
$orange: hsl(20, 75%, 55%);
$yellow: hsl(38, 95%, 60%);

$primary: $turquoise;
$dark: $black-ter;
$info: $orange;
$link: $yellow;
$link-hover: lighten($link, 15%);

$dark-box-shadow: inset 0 0 1rem $grey-dark;

$background: $black-bis;

// Box
$box-background-color: $grey-lighter;
$box-padding: 1.5rem;

// Button
$button-padding-vertical: calc(0.375em - 1px);
$button-padding-horizontal: 0.75em;

// Form
$input-background-color: $black-ter;
$input-color: white;
$input-hover-color: $grey-dark;

// Dropdown
$dropdown-content-background-color: $black-bis;
$dropdown-content-shadow: $dark-box-shadow;
$dropdown-item-color: $white-ter;

// Modal
$modal-card-head-background-color: $white-ter;

// Navbar
$navbar-dropdown-border-top: 2px solid $link;
