$action: hsl(105, 70%, 45%) !default;
$magical: hsl(210, 100%, 75%) !default;
$physical: hsl(20, 20%, 45%) !default;
$vitality: hsl(350, 65%, 50%) !default;

$air: hsl(250, 65%, 60%) !default;
$earth: hsl(30, 40%, 40%) !default;
$fire: hsl(10, 75%, 50%) !default;
$poison: hsl(105, 70%, 45%) !default;
$water: hsl(200, 70%, 50%) !default;

$link-primary: hsl(hue($link), 100%, 95%) !default;
$link-secondary: $grey-dark !default;

$aerotheurge: hsl(250, 65%, 70%) !default;
$aerotheurge-primary: hsl(240, 60%, 90%) !default;
$aerotheurge-secondary: hsl(250, 50%, 55%) !default;
$equipment: hsl(335, 50%, 50%) !default;
$equipment-primary: hsl(25, 50%, 80%) !default;
$equipment-secondary: hsl(330, 55%, 25%) !default;
$geomancer: hsl(45, 85%, 60%) !default;
$geomancer-primary: hsl(60, 90%, 80%) !default;
$geomancer-secondary: hsl(30, 80%, 35%) !default;
$geomancer-poison: hsl(65, 95%, 45%) !default;
$geomancer-poison-primary: hsl(70, 100%, 60%) !default;
$geomancer-poison-secondary: hsl(30, 65%, 35%) !default;
$hydrosophist: hsl(200, 75%, 45%) !default;
$hydrosophist-primary: hsl(190, 80%, 75%) !default;
$hydrosophist-secondary: hsl(205, 85%, 35%) !default;
$huntsman: hsl(95, 75%, 40%) !default;
$huntsman-primary: hsl(80, 70%, 65%) !default;
$huntsman-secondary: hsl(100, 90%, 20%) !default;
$innate: hsl(335, 70%, 50%) !default;
$innate-primary: hsl(330, 80%, 80%) !default;
$innate-secondary: hsl(330, 85%, 25%) !default;
$necromancer: hsl(335, 70%, 50%) !default;
$necromancer-primary: hsl(330, 80%, 80%) !default;
$necromancer-secondary: hsl(330, 85%, 25%) !default;
$polymorph: hsl(25, 85%, 60%) !default;
$polymorph-primary: hsl(50, 60%, 75%) !default;
$polymorph-secondary: hsl(15, 80%, 40%) !default;
$pyrokinetic: hsl(20, 95%, 50%) !default;
$pyrokinetic-primary: hsl(35, 100%, 60%) !default;
$pyrokinetic-secondary: hsl(15, 95%, 35%) !default;
$scoundrel: hsl(190, 25%, 50%) !default;
$scoundrel-primary: hsl(180, 35%, 85%) !default;
$scoundrel-secondary: hsl(350, 90%, 25%) !default;
$scoundrel-blood: hsl(350, 80%, 40%) !default;
$scoundrel-blood-primary: hsl(350, 75%, 55%) !default;
$scoundrel-blood-secondary: $scoundrel-secondary !default;
$scoundrel-light: $scoundrel-blood !default;
$scoundrel-light-primary: $scoundrel-primary !default;
$scoundrel-light-secondary: hsl(190, 25%, 30%) !default;
$source: hsl(190, 65%, 60%) !default;
$source-primary: hsl(190, 65%, 85%) !default;
$source-secondary: hsl(190, 65%, 35%) !default;
$story: hsl(335, 70%, 50%) !default;
$story-primary: hsl(330, 80%, 80%) !default;
$story-secondary: hsl(330, 85%, 25%) !default;
$summoning: hsl(20, 55%, 64%) !default;
$summoning-primary: hsl(40, 80%, 85%) !default;
$summoning-secondary: hsl(330, 60%, 30%) !default;
$warfare: hsl(10, 70%, 60%) !default;
$warfare-primary: hsl(10, 60%, 85%) !default;
$warfare-secondary: hsl(0, 80%, 40%) !default;

$custom-colors: (
	"info": ($info),

	"action": ($action),
	"magical": ($magical),
	"physical": ($physical),
	"vitality": ($vitality),

	"air": ($air),
	"earth": ($earth),
	"fire": ($fire),
	"poison": ($poison),
	"water": ($water),
) !default;

$svg-colors: (
	"link": ($link, $link-primary, $link-secondary),
	"aerotheurge": ($aerotheurge, $aerotheurge-primary, $aerotheurge-secondary),
	"equipment": ($equipment, $equipment-primary, $equipment-secondary),
	"geomancer": ($geomancer, $geomancer-primary, $geomancer-secondary),
	"geomancer-poison": ($geomancer-poison, $geomancer-primary, $geomancer-secondary),
	"hydrosophist": ($hydrosophist, $hydrosophist-primary, $hydrosophist-secondary),
	"huntsman": ($huntsman, $huntsman-primary, $huntsman-secondary),
	"necromancer": ($necromancer, $necromancer-primary, $necromancer-secondary),
	"polymorph": ($polymorph, $polymorph-primary, $polymorph-secondary),
	"pyrokinetic": ($pyrokinetic, $pyrokinetic-primary, $pyrokinetic-secondary),
	"scoundrel": ($scoundrel, $scoundrel-primary, $scoundrel-secondary),
	"scoundrel-blood": ($scoundrel-blood, $scoundrel-blood-primary, $scoundrel-blood-secondary),
	"scoundrel-light": ($scoundrel-light, $scoundrel-light-primary, $scoundrel-light-secondary),
	"source": ($source, $source-primary, $source-secondary),
	"innate": ($innate, $innate-primary, $innate-secondary),
	"story": ($story, $story-primary, $story-secondary),
	"summoning": ($summoning, $summoning-primary, $summoning-secondary),
	"warfare": ($warfare, $warfare-primary, $warfare-secondary)
) !default;

@function mergeFirstValuesToMap($target-map, $source-map) {
	$merged-map: $target-map;
	@each $key, $values in $source-map {
		$first-value: nth($values, 1);
		$merged-map: map_merge($merged-map, ($key: ($first-value)));
	}
	@return $merged-map;
}

$svg-colors: mergeFirstValuesToMap($svg-colors, $custom-colors);
$custom-colors: mergeFirstValuesToMap($custom-colors, $svg-colors);
