$background-svg-url: "../../assets/background.svg" !default;
$background-svg-filter: brightness(50%) saturate(125%)!default;

.has-background-svg {
	min-height: 100%;
	position: relative;
	overflow: hidden;

	&::before {
		content: '';
		min-height: 100vh;
		width: 100vw;
		left: 0;
		position: fixed;
		top: 0;
		z-index: -1;
		will-change: transform;
		background-color: $black;
		background-image:	url($background-svg-url);
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
		filter: $background-svg-filter;
	}
}
