$min-width-default: 22rem !default;
$grid-column-min-width: 2.5rem !default;
$grid-gap: 0.25rem !default;
$grid-row-gap-medium: 0.5rem !default;
$grid-row-gap-large: 1rem !default;

.has-z-3 { z-index: 3; }
.has-z-5 { z-index: 5; }
.has-z-7 { z-index: 7; }
.has-z-9 { z-index: 9; }
.has-z-maximum { z-index: 999; }

.is-screen-cover {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.is-aligned-bottom {
	vertical-align: bottom;
}
.is-aligned-center {
	text-align: center;
}
.is-centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

.is-relative {
	position: relative;
}
.is-abs {
	position: absolute;
}
.is-abs-top {
	position: absolute;
	top: 0;
	bottom: auto;
}
.is-abs-bottom {
	position: absolute;
	top: auto;
	bottom: 0;
}
.is-abs-left {
	position: absolute;
	left: 0;
	right: auto;
}
.is-abs-right {
	position: absolute;
	left: auto;
	right: 0;
}

.has-flex-center {
	justify-content: center;
}
.has-flex-align-center {
	align-items: center;
}
.has-flex-space-between {
	justify-content: space-between;
}
.is-flex-grow {
	flex-grow: 1;
}
.is-flex-wrap {
	flex-wrap: wrap;
}
.is-justified-center {
	justify-self: center;
}

.is-grid {
	display: grid;
}

.has-one-column {
	grid-template-columns: 1fr;
}

.has-auto-columns {
	grid-template-columns: repeat(auto-fill, minmax($grid-column-min-width, 0fr));
	grid-template-rows: $grid-column-min-width;
}

.has-gap {
	grid-gap: $grid-gap;
}

.has-row-gap {
	grid-row-gap: $grid-gap;
}

.has-row-gap-medium {
	grid-row-gap: $grid-row-gap-medium;
}
.has-row-gap-large {
	grid-row-gap: $grid-row-gap-large;
}

.is-transparent {
	opacity: 0 !important;
}
.is-semi-transparent {
	opacity: 0.66 !important;
}
