.is-fullheight {
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.has-height-100 {
	height: 100% !important;
}

.is-paddingless-horizontal {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.has-height-fit-content {
	height: fit-content !important;
}
.has-width-fit-content {
	width: fit-content !important;
}

.has-justified-content-center {
	justify-content: center;
}
