$svg-custom-colors: () !default;

$svg-primary-fill: $black !default;
$svg-secondary-fill: $grey-darker !default;
$svg-tertiary-fill: $grey-dark !default;

$svg-light-primary-fill: $grey-darker !default;
$svg-light-secondary-fill: $white-bis !default;

$svg-hover-filter-brightness: 120% !default;
$svg-hover-primary-fill: $black-ter !default;
$svg-hover-secondary-fill: $grey-dark !default;

$svg-focus-filter-brightness: 120% !default;
$svg-focus-primary-fill: $black !default;
$svg-focus-secondary-fill: $black-ter !default;
$svg-focus-outline-fill: $link !default;

$svg-small-size: 2rem !default;
$svg-tiny-size: 1.3125rem !default;

@mixin svg-color($type, $fill) {
	.is-#{$type} {
		fill: $fill !important;
	}
	g.is-#{$type} * {
		fill: $fill !important;
	}
}

@mixin svg-multi-color(
	$base,
	$highlight: lighten($base, 10%),
	$shade: darken($base, 5%),
	$background: hsl(hue($shade), 25%, 15%)
) {
	&.has-background-dark {
		background-color: $background !important;
	}
	.has-svg {
		@include svg-color(primary, $highlight);
		@include svg-color(secondary,$shade);
		@include svg-color(tertiary, $base);
	}
}

@mixin has-hoverable-svg {
	&:hover,
	&.is-hovered {
		.has-svg {
			filter: brightness($svg-hover-filter-brightness);
		}
	}
}

@mixin has-focusable-svg {
	&:focus:not(:active),
	&.is-focused:not(:active) {
		.has-svg {
			filter: brightness($svg-focus-filter-brightness);
			@include svg-color(outline, $svg-focus-outline-fill);
		}
	}
}

@function find-primary-color($color, $values) {
	@if (length($values) > 1) {
		@return nth($values, 2);
	}
  @else {
    @return lighten($color, 10%);
	}
}

@function find-secondary-color($color, $values) {
  @if (length($values) > 2) {
    @return nth($values, 3);
	}
  @else {
    @return darken($color, 5%);
	}
}

.has-svg {
	width: 100%;
	height: 100%;
	svg {
		display: block;
		width: 100%;
		height: 100%;
	}
	@include svg-color(primary, $svg-primary-fill);
	@include svg-color(secondary, $svg-secondary-fill);
	@include svg-color(tertiary, $svg-tertiary-fill);
	@include svg-color(outline, transparent);

	&.has-color-light {
		@include svg-color(primary, $svg-light-primary-fill);
		@include svg-color(secondary, $svg-light-secondary-fill);
	}
	&.has-primary-transparent {
		@include svg-color(primary, none);
	}
	&.has-secondary-transparent {
		@include svg-color(secondary, none);
	}
	&.is-small {
		width: $svg-small-size;
		height: $svg-small-size;
	}
	&.is-tiny {
		width: $svg-tiny-size;
		height: $svg-tiny-size;
	}
	@each $name, $values in $svg-colors {
		$color: nth($values, 1);
		$color-primary: find-primary-color($color, $values);
		$color-secondary: find-secondary-color($color, $values);

		&.is-#{$name} {
			@include svg-color(primary, $color-primary);
			@include svg-color(secondary, $color-secondary);
		}
	}
}
