.is-rotated-90 {
	transform: rotate(90deg);
}

.is-rotated-180 {
	transform: rotate(180deg);
}

.is-rotated-270 {
	transform: rotate(270deg);
}

.is-flipped-horizontal {
	transform: scale(-1, 1);
}

.is-flipped-vertical {
	transform: scale(1, -1);
}
