$box-border: $black-bis solid 0.25rem !default;
$box-corner-size: 4rem !default;
$box-corner-z-index: 9 !default;
$box-outer-corner-background-color: $black-ter !default;
$box-outer-corner-box-shadow: inset 0 0 1rem $black !default;
$box-outer-corner-offset: 1.25rem !default;

$box-light-border-color: $grey-darker !default;

$box-dark-background-color: $black-bis !default;
$box-dark-border-color: $grey !default;
$box-dark-box-shadow: inset 0 0 1rem $grey-dark !default;
$box-dark-color: $white-ter !default;

$box-darker-background-color: $black !default;
$box-darker-border-color: $grey-darker !default;
$box-darker-box-shadow: inset 0 0 1rem $black-ter !default;

$box-small-border-width: 0.125rem !default;
$box-small-corner-size: $size-4 !default;

.box {
	border: $box-border;
	.box-corner {
		pointer-events: none;
		width: $box-corner-size;
		height: $box-corner-size;
		z-index: $box-corner-z-index;
	}
	.box-outer-corner {
		background-color: $box-outer-corner-background-color;
		border: $box-border;
		border-radius: 100%;
		box-shadow: $box-outer-corner-box-shadow;
		position: absolute;
		right: -$box-outer-corner-offset;
		top: -$box-outer-corner-offset;
	}
	&.is-light {
		border-color: $box-light-border-color;
		@include svg-color(primary, $box-light-border-color);
	}
	&.is-dark {
		background-color: $box-dark-background-color;
		border-color: $box-dark-border-color;
		box-shadow: $box-dark-box-shadow;
		color: $box-dark-color;
		@include svg-color(primary, $box-dark-border-color);
	}
	&.is-darker {
		background-color: $box-darker-background-color;
		border-color: $box-darker-border-color;
		box-shadow: $box-darker-box-shadow;
		color: $box-dark-color;
		@include svg-color(primary, $box-darker-border-color);
	}
	&.is-small {
		border-width: $box-small-border-width;
		padding: $box-padding / 2;
		.box-corner {
			width: $box-small-corner-size;
			height: $box-small-corner-size;
			+mobile {
				width: $box-small-corner-size / 2;
				height: $box-small-corner-size / 2;
			}
		}
	}
}
