$button-tiny-font-size: $size-7 !default;
$button-tiny-size: 1.75em !default;

$button-square-size: 2.5rem !default;
$button-rounded-icon-size: 3rem;
$button-rounded-icon-padding: 0.375rem;

$button-icon-focus-border-color: $link !default;

.button {
	&.is-tiny {
		font-size: $button-tiny-font-size;
		line-height: $button-tiny-font-size;
		width: $button-tiny-size;
		height: $button-tiny-size;
		vertical-align: text-bottom;
		overflow: hidden;
		&.is-rounded {
			padding: 0;
		}
	}
	&.is-square {
		width: $button-square-size;
		height: $button-square-size;
		&:not(.is-rounded) {
			border-radius: 0.25rem;
		}
	}
	&.is-icon {
		background: transparent;
		border: none;
		overflow: hidden;
		padding: 0;
		.button-icon {
			height: inherit;
			width: inherit;
		}
		@include has-focusable-svg;
		@include has-hoverable-svg;
		&.is-rounded {
			height: $button-rounded-icon-size;
			width: $button-rounded-icon-size;
			padding: $button-rounded-icon-padding;
		}
	}
	&.is-passive {
		opacity: 0.5;
	}
	@each $name, $pair in $colors {
		$color: nth($pair, 1);
		$color-invert: nth($pair, 2);

		&.is-#{$name} {
			@include svg-multi-color(lighten($color, 20%), $color-invert, lighten($color, 30%));

			&:active,
			&.is-active {
				background-color: darken($color, 10%);
			}
			&.is-outlined {
				&.has-background-dark {
					background-color: hsl(hue($color), 25%, 15%) !important;
				}
				&:hover,
				&.is-hovered,
				&:focus,
				&.is-focused {
					background-color: $color;
					border-color: $color;
					color: $color-invert;
					&.has-background-dark {
						background-color: hsl(hue($color), 25%, 20%) !important;
					}
				}
			}
		}
	}
	@each $name, $values in $svg-colors {
		$color: nth($values, 1);
		$color-primary: find-primary-color($color, $values);
		$color-secondary: find-secondary-color($color, $values);

		&.is-#{$name} {
			@include svg-multi-color($color, $color-primary, $color-secondary);
			&:hover,
			&.is-hovered,
			&:focus,
			&.is-focused {
				@include svg-multi-color(
					lighten($color, 8%),
					lighten($color-primary, 10%),
					lighten($color-secondary, 2%),
					hsl(hue($color-secondary), 25%, 15%));
			}
			&:active,
			&.is-active {
				@include svg-multi-color(
					lighten($color, 12%),
					lighten($color-primary, 12%),
					lighten($color-secondary, 4%),
					hsl(hue($color-secondary), 25%, 10%));
			}
			&.is-square {
				&:active,
				&.is-active {
					border: $color solid 0.1875rem;
					box-shadow: inset 0 0 1rem $color-secondary;
					overflow: hidden;
				}
				&:hover,
				&.is-hovered,
				&:focus,
				&.is-focused {
					box-shadow: inset 0 0 1rem $color-secondary;
				}
			}
			&.is-outlined {
				&:hover,
				&.is-hovered,
				&:focus,
				&.is-focused {
					@include svg-multi-color(
						lighten($color, 8%),
						lighten($color-primary, 10%),
						$white);
				}
			}
		}
	}
}

