$dropdown-content-border-color: $grey !default;
$dropdown-menu-min-width: 20rem !default;
$dropdown-menu-mobile-min-width: 16rem !default;

.dropdown {
	.dropdown-content {
		border: 0.125rem solid $dropdown-content-border-color;
		@include svg-color(primary, $dropdown-content-border-color);
	}
	.dropdown-menu {
		min-width: $dropdown-menu-min-width;
		@include mobile {
			min-width: $dropdown-menu-mobile-min-width;
		}
	}
}
