$field-margin-bottom: 0.25rem !default;

$select-square-size: $size-1 !default;
$select-square-padding: 0.25rem !default;
$select-square-cover-padding: 0.125rem !default;
$select-square-cover-z-index: 3 !default;

.field {
	&:not(:last-child) {
		margin-bottom: $field-margin-bottom;
	}
}

.field-label {
	@include tablet {
		text-align: left;
		flex-shrink: initial;
		flex-basis: initial;
		flex-grow: 3;
		justify-items: end;
	}
}

.field-body {
	@include tablet {
		flex-shrink: initial;
		flex-basis: initial;
		flex-grow: 1;
	}
}

.select {
	&.is-square {
		background-color: $input-background-color;
		border-radius: inherit;
		width: $select-square-size;
		height: $select-square-size;
		padding: 0;
		select {
			position: relative;
			width: 100%;
			height: 100%;
			padding: $select-square-padding;
		}
		&::before {
			border-radius: inherit;
			position: absolute;
			background: inherit;
			pointer-events: none;
			z-index: $select-square-cover-z-index;
			top: $select-square-cover-padding;
			left: $select-square-cover-padding;
			width: $select-square-size - 2 * $select-square-cover-padding;
			height: $select-square-size - 2 * $select-square-cover-padding;
			content: '';
		}
		&[disabled] {
			background-color: $input-disabled-background-color;
		}
	}
}
