.icon {
	@each $name, $pair in $colors {
		$color: nth($pair, 1);
		$color-invert: nth($pair, 2);

		&.is-#{$name} {
			&.has-svg,
			.has-svg {
				@include svg-color(primary, lighten($color, 15%));
				@include svg-color(secondary, darken($color, 5%));
				@include svg-color(tertiary, $color);
			}
			&.has-background-dark {
				background-color: hsl(hue($color), 25%, 25%) !important;
			}
		}
		&.is-neutral {
			&.has-svg,
			.has-svg {
				@include svg-color(primary, $white-ter);
				@include svg-color(secondary, $grey-darker);
				@include svg-color(tertiary, $grey);
			}
		}
	}
}
