.has-navbar-fixed-top {
	.is-fullheight {
		min-height: calc(100vh - #{$navbar-height});
	}
}

.navbar {
	&.is-black {
		.navbar-start,
		.navbar-end {
			.navbar-link::after {
				border-color: $link;
			}
		}
	}
}
