@charset "utf-8";

/*! Copyright 2011 The Lora Project Authors (https://github.com/cyrealtype/Lora-Cyrillic),
with Reserved Font Name "Lora".

This Font Software is licensed under the SIL Open Font License, Version 1.1.

This license is copied below, and is also available with a FAQ at: http://scripts.sil.org/OFL
*/
@font-face {
	font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
	src: url('../assets/lora.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@import "~bulma/sass/utilities/initial-variables";

@import "variables/_all";

@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/helpers/_all";
@import "~bulma/sass/base/minireset";
@import "~bulma/sass/base/generic";
@import "~bulma/sass/elements/box";
@import "~bulma/sass/elements/button";
@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/icon";
@import "~bulma/sass/elements/other";
@import "~bulma/sass/elements/title";
@import "~bulma/sass/form/_all";
@import "~bulma/sass/components/dropdown";
@import "~bulma/sass/components/modal";
@import "~bulma/sass/components/navbar";
@import "~bulma/sass/grid/columns";
@import "~bulma/sass/layout/footer";
@import "~bulma/sass/layout/hero";
@import "~bulma/sass/layout/section";
@import "~bulma/sass/base/helpers";

@import "helpers/_all";
@import 'box-overrides';
@import 'button-overrides';
@import 'form-overrides';
@import 'icon-overrides';
@import 'title-overrides';
@import 'dropdown-overrides';
@import 'modal-overrides';
@import 'navbar-overrides';
@import 'elements/_all';
