$subtitle-svg-height: 1.5em !default;
$subtitle-svg-width: 2.5em !default;
$subtitle-decorated-min-width: 4.5em !default;

.subtitle {
	.has-svg {
		width: $subtitle-svg-width;
		height: $subtitle-svg-height;
		vertical-align: top;
	}
	.is-decorated {
		min-width: $subtitle-decorated-min-width;
	}
	&:not(:last-child) {
		&.is-5,
		&.is-6,
		&.is-7 {
			margin-bottom: 0.5rem;
		}
	}
}
