<template>
	<div>
		<editable-stat context="attribute" stat="strength">
			<p v-if="character.damageStrength !== 0" slot="details" class="has-text-primary">
				{{ $t('derivedStat.damageStrengthDetails', [formatBonus(character.damageStrength)]) }}
			</p>
			<p slot="details" class="has-text-white-ter">
				{{ $t('attribute.strengthDetails', [character.carryWeight, character.objectWeight]) }}
			</p>
		</editable-stat>
		<editable-stat context="attribute" stat="finesse">
			<p v-if="character.damageFinesse !== 0" slot="details" class="has-text-primary">
				{{ $t('derivedStat.damageFinesseDetails', [formatBonus(character.damageFinesse)]) }}
			</p>
		</editable-stat>
		<editable-stat context="attribute" stat="intelligence">
			<p v-if="character.damageIntelligence !== 0" slot="details" class="has-text-primary">
				{{ $t('derivedStat.damageIntelligenceDetails', [formatBonus(character.damageIntelligence)]) }}
			</p>
		</editable-stat>
		<editable-stat context="attribute" stat="constitution" />
		<editable-stat context="attribute" stat="memory">
			<p slot="details" class="has-text-white-ter">
				{{ $t('derivedStat.memorySlotDetails', [character.base.memorySlot, character.memory-10]) }}
			</p>
		</editable-stat>
		<editable-stat context="attribute" stat="wits" />
	</div>
</template>

<script>
import { mapGetters } from 'vuex';
import { EditableStat } from './build-stats';

export default {
	components: { EditableStat },
	computed: mapGetters({ character: 'selectedCharacter' }),
	methods: {
		formatBonus: value => value > 0 ? `+${value}` : value,
	},
};
</script>
