<template>
	<div class="is-grid has-one-column has-row-gap-medium">
		<section>
			<dp-decor-title :value="$t('title.combatAbilitiesWeapons')" />
			<build-stats :stats="weapons" label-context="combatAbility" />
		</section>
		<section>
			<dp-decor-title :value="$t('title.combatAbilitiesDefence')" />
			<build-stats :stats="defence" label-context="combatAbility" />
		</section>
		<section>
			<dp-decor-title :value="$t('title.combatAbilitiesSkills')" />
			<build-stats :stats="skills" label-context="combatAbility" />
		</section>
	</div>
</template>

<script>
import { SKILLS, WEAPONS, DEFENCE } from '../store';
import BuildStats from './build-stats';

export default {
	components: { BuildStats },
	data: () => ({
		skills: SKILLS,
		weapons: WEAPONS,
		defence: DEFENCE,
	}),
};
</script>
