<template>
	<section class="columns">
		<div class="column">
			<dp-box>
				<stat-header resource-key="title.overview" />
				<div class="is-grid has-one-column has-row-gap-medium">
					<the-overview />
					<the-equipment />
					<the-derived-stats />
				</div>
			</dp-box>

			<dp-box>
				<dp-link
					slot="outer-corner"
					:aria-label="$t('action.skillbookOpen')"
					:params="{ category: 'aerotheurge' }"
					route-name="skillbook"
					class="is-link is-rounded is-icon has-background-dark"
					button>
					<dp-svg svg="toggleSkillbook" />
				</dp-link>
				<stat-header resource-key="title.skills" />
				<the-skillbar overview />
			</dp-box>
		</div>

		<div class="column">
			<dp-box>
				<stat-header :points="attributePoints" resource-key="title.attribute" />
				<the-attributes />
			</dp-box>

			<dp-box>
				<stat-header :points="combatPoints" resource-key="title.combatAbilities" />
				<the-combat-abilities />
			</dp-box>
		</div>

		<div class="column">
			<dp-box>
				<stat-header :points="civilPoints" resource-key="title.civilAbilities" />
				<build-stats :stats="civilAbilities" label-context="civilAbility" />
			</dp-box>

			<the-talents>
				<stat-header slot="header" :points="talentPoints" resource-key="title.talents" />
			</the-talents>
		</div>
	</section>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import { CIVIL_ABILITIES } from '../store';
import { toOriginDetails } from 'src/store';
import TheOverview from './the-overview';
import { TheSkillbar } from './the-skillbook';
import TheEquipment from './the-equipment';
import TheDerivedStats from './the-derived-stats';
import TheAttributes from './the-attributes';
import TheCombatAbilities from './the-combat-abilities';
import BuildStats, { StatHeader } from './build-stats';
import TheTalents from './the-talents';

export default {
	components: {
		BuildStats, StatHeader,
		TheOverview, TheSkillbar, TheEquipment, TheDerivedStats, TheAttributes, TheCombatAbilities, TheTalents,
	},
	data: () => ({ civilAbilities: CIVIL_ABILITIES }),
	computed: {
		...mapGetters(['selectedCharacter', 'selectableOrigins', 'attributePoints', 'combatPoints', 'civilPoints', 'talentPoints']),
		origin() { return toOriginDetails(this.selectedCharacter.origin); },
	},
	methods: mapActions(['setOrigin']),
};
</script>
