<template>
	<span>
		<button
			:class="{ 'is-invisible': !canDecrease(stat) }"
			:aria-label="translateStatChange('action.statDecrease')"
			class="button has-text-weight-bold is-tiny"
			@click="decStat(stat)">-</button>
		<span class="has-uniform-width">{{ statValue }}</span>
		<button
			:class="{ 'is-invisible': !canIncrease(stat) }"
			:aria-label="translateStatChange('action.statIncrease')"
			class="button has-text-weight-bold is-tiny is-dark"
			@click="incStat(stat)">+</button>
	</span>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
	props: {
		stat: { type: String, required: true },
		context: { type: String, required: true },
	},
	computed: {
		...mapGetters(['canDecrease', 'canIncrease', 'selectedCharacter']),
		statValue() { return this.selectedCharacter[this.stat]; },
		translateStatChange() {
			const statName = this.$t(`${this.context}.${this.stat}`);
			return actionKey => this.$t(actionKey, [statName, this.statValue]);
		},
	},
	methods: mapActions(['decStat', 'incStat']),
};
</script>

<style scoped>
.has-uniform-width {
	min-width: 1.125em;
	display: inline-block;
	text-align: center;
}
</style>
