<template>
	<div>
		<examinable-stat
			v-for="stat in stats"
			:key="stat"
			:stat="stat"
			:context="labelContext"
			:icon="iconOf(stat)">
			<build-stat :stat="stat" :context="labelContext" class="is-pulled-right" />
		</examinable-stat>
	</div>
</template>

<script>
import { camelConcat } from 'src/utils';
import ExaminableStat from './examinable-stat';
import BuildStat from './build-stat';
import { mapGetters, mapActions } from 'vuex';

export default {
	components: { ExaminableStat, BuildStat },
	props: {
		labelContext: { type: String, default: 'attribute' },
		stats: { type: Array, default: () => [] },
	},
	computed: mapGetters(['canDecrease', 'canIncrease', 'selectedCharacter']),
	methods: {
		...mapActions(['decStat', 'incStat', 'setExaminedStat']),
		iconOf(stat) { return camelConcat(this.labelContext, stat); },
	},
};
</script>
