<template>
	<examinable-stat v-bind="$attrs">
		<template slot="description">
			<slot name="description" />
		</template>
		<template slot="details">
			<slot name="details" />
		</template>
		<build-stat v-bind="$attrs" class="is-pulled-right" />
	</examinable-stat>
</template>

<script>
import ExaminableStat from './examinable-stat';
import BuildStat from './build-stat';

export default {
	components: { ExaminableStat, BuildStat },
};
</script>
