<template>
	<dp-detail-field :context="context" :label-key="labelKey || stat" v-bind="$attrs">
		<slot>{{ statValue }}</slot>
		<slot slot="description" name="description">
			<stat-details :stat="stat" :percent="percent">
				<slot name="details" />
			</stat-details>
		</slot>
	</dp-detail-field>
</template>

<script>
import { bind, flip, map, prop } from 'ramda';
import { mapGetters } from 'vuex';
import StatDetails from './stat-details';

export default {
	components: { StatDetails },
	props: {
		context: { type: String, default: 'talent' },
		labelKey: { type: String, default: null },
		stat: { type: String, default: null },
		stats: { type: Array, default: () => [] },
		bonus: { type: Boolean, default: false },
		percent: { type: Boolean, default: false },
	},
	computed: {
		...mapGetters({ character: 'selectedCharacter' }),
		statValue() { return formatValueWith(bind(this.$t, this), this); },
		values() {
			const statOf = flip(prop)(this.character);
			return this.stat ? [statOf(this.stat)] : map(statOf, this.stats);
		},
	},
};

function formatValueWith($t, { bonus, percent, values, context, valueKey }) {
	const formattedValues = values.map(formatValue({ bonus, percent }));
	return valueKey ?
		$t(`${context}.${valueKey}`, formattedValues) :
		formattedValues.filter(Boolean).join(' / ');
}

function formatValue({ bonus, percent }) {
	return value => {
		const signOf = value => value > 0 ? '+' : undefined;
		const parts = [
			bonus ? signOf(value) : undefined,
			value || '0',
			percent ? '%' : undefined,
		];
		return parts.filter(Boolean).join('');
	};
}
</script>
