<template>
	<ul class="is-grid has-one-column has-row-gap">
		<slot />
		<ul>
			<li v-if="details.base !== 0" class="is-clearfix has-text-primary">
				<label>{{ $t('title.statBase') }}</label>
				<span class="is-pulled-right">{{ details.base }}</span>
			</li>
			<li
				v-for="bonus in details.bonuses"
				:key="bonus.name"
				:class="classOfBonus(bonus)"
				class="is-clearfix">
				<label>{{ $t(bonus.resourceKey) }}</label>
				<span class="is-pulled-right">{{ format(bonus) }}</span>
			</li>
		</ul>
	</ul>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
	props: {
		percent: { type: Boolean, default: false },
		stat: { type: String, default: null },
	},
	computed: {
		...mapGetters({ character: 'selectedCharacter' }),
		details() {
			return {
				base: this.character.base[this.stat],
				bonuses: this.character.bonuses[this.stat],
			};
		},
	},
	methods: {
		classOfBonus({ value }) { return value < 0 ? 'has-text-danger' : 'has-text-primary'; },
		format({ value }) {
			const bonus = value > 0 ? `+${value}` : value;
			return this.percent ? `${bonus}%` : bonus;
		},
	},
};
</script>
