<template>
	<h1 class="title is-5 is-clearfix">
		<slot>{{ $t(resourceKey) }}</slot>
		<span v-if="points > 0" class="is-pulled-right has-text-info">{{ points }}</span>
	</h1>
</template>

<script>
export default {
	props: {
		resourceKey: { type: String, required: true },
		points: { type: Number, default: null },
	},
};
</script>
