<template>
	<dp-box
		:class="{ 'is-focused': edit }"
		:disabled="disabled"
		class="icon-select is-marginless is-inline-block is-paddingless is-small is-dark"
		simple
		@focus.native="focused = true"
		@blur.native="focused = false"
		@mouseover.native="hovered = true"
		@mouseleave.native="hovered = false; justSelected = false;">
		<div v-if="!hovered || justSelected || disabled" class="icon-select-icon is-overlay has-z-5 is-pointerless">
			<dp-svg :svg="iconName" />
		</div>
		<div :disabled="disabled" class="select is-square">
			<select
				ref="select"
				:value="value"
				:disabled="disabled"
				@focus="focused = true"
				@blur="focused = false; justSelected = false;"
				@change="onChange">
				<option v-if="optional" :value="null" />
				<option
					v-for="option in options"
					:key="option.name"
					:value="option.name">
					{{ $t(option.resourceKey) }}
				</option>
			</select>
		</div>
	</dp-box>
</template>

<script>
import { toEquipmentProp } from 'src/store';

export default {
	props: {
		value: { type: String, default: null },
		options: { type: Array, default: () => [] },
		optional: { type: Boolean, default: true },
		disabled: { type: Boolean, default: false },
	},
	data: () => ({ hovered: false, focused: false, justSelected: false }),
	computed: {
		edit() { return this.hovered || this.focused; },
		iconName() {
			return toEquipmentProp('iconName', this.value);
		},
	},
	methods: {
		onChange(event) {
			this.justSelected = true;
			this.$emit('input', event.target.value);
		},
	},
};
</script>
