<template>
	<dp-field class="equipment" centered>
		<div class="equipment-section">
			<dp-svg class="is-rotated-180 is-small" svg="cornerStandalone" />
			<icon-select
				:options="equipmentMainHand"
				:value="selectedCharacter.mainHand"
				@input="setMainHand" />
			<icon-select
				:options="equipmentOffHand"
				:value="selectedCharacter.offHand"
				:disabled="twoHandedInMain"
				optional
				@input="setOffHand" />
			<dp-svg class="is-flipped-vertical is-small" svg="cornerStandalone" />
		</div>
	</dp-field>
</template>

<script>
import IconSelect from './icon-select';
import { mapGetters, mapActions } from 'vuex';
import { ES_MAIN_HAND, ES_OFF_HAND, toEquipmentProp, equipmentOfSlot } from 'src/store';

export default {
	components: { IconSelect },
	data: () => ({
		equipmentMainHand: equipmentOfSlot(ES_MAIN_HAND),
		equipmentOffHand: equipmentOfSlot(ES_OFF_HAND),
	}),
	computed: {
		...mapGetters(['selectedCharacter']),
		twoHandedInMain() { return toEquipmentProp('twoHanded', this.selectedCharacter.mainHand); },
	},
	methods: {
		...mapActions(['setEquipment']),
		setMainHand(name) { this.setEquipment({ slot: ES_MAIN_HAND, name }); },
		setOffHand(name) { this.setEquipment({ slot: ES_OFF_HAND, name }); },
	},
};
</script>
